* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  color: white;
  background-color: #f5f4f4;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 10px;
}

button {
  background-color: #fff;
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
