* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Poppins", serif;
  color: white;
  background-color: #f5f4f4;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 10px;
}

.nav button {
  padding: 0.5rem 0.6rem;
}

button {
  background-color: #fff;
  color: #343a40;

  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  cursor: pointer;
}

.btn {
  background-color: #fff;
  color: #343a40;
  padding: 20px 50px;
  margin: 20px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.plus-icon {
  font-size: 40px;
  color: #a8a6a6;
}

.tab {
  background-color: blue;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
}

.tab h1 {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.tab button {
  padding: 10px;
  font-size: 11px;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-data {
  padding-top: 20px;
  margin: 50px;
  background-color: rgb(214, 213, 213);
  text-align: center;
  border: 5px solid white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.input-data button {
  padding: 0.5rem 0.6rem;
}
label {
  color: blue;
  font-weight: 600;
  font-size: 20px;
}

input,
select {
  font-family: inherit;
  color: inherit;
  padding: 5px;
  border: 1px solid white;
  border-radius: 4px;
  transition: 0.3s;
  color: rgb(77, 77, 187);
}

input:focus {
  outline: none;
  border: 1px solid white;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-lists {
  background-color: blue;
  padding: 20px;
  margin: 25px;
}

.todo-lists h1 {
  font-size: 20px;
  font-style: italic;
}

.main-lists {
  display: flex;
  justify-content: start;
  gap: 8px;
  line-height: 30px;
}
.main-lists button {
  background: none;
}

.lists {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  text-transform: uppercase;
  margin-top: 10px;
}

.save-btn button {
  padding: 8px 14px;
}
